header{
    background-color: blueviolet;
    padding: 20px 0;/* espaço em cima e embaixo do cabeçalho-espaçamento interno*/
}

.caixa{
    position:relative;/*menu dentro da caixa*/
    width: 940px;/*largura da caixa*/
    margin: 0 auto;
}

nav{
    position: absolute
    top: 110px;
    right: 0;

}
nav li{
    display: inline;
    margin: 0 0 0 15px;/*espaçamento externo*/
}

nav a {
    text-transform: uppercase;/* letras maiúsculas*/
    color:black;/* cor das letras pretas*/
    font-weight: bold /* fonte negrito*/
    font-size: 22px; /*tamanho da fonte*/
    text-decoration: nome;/* retirar o sublinhado do texto*/
}

\*passando o mouse sobre o elemento(pseudo-class)